@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@font-face {
  font-family: stamp;
  src: url(./img/Stamp.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --portrait-height: 0px;
}
ion-icon {
  --ionicon-stroke-width: 25px;
}
body {
  height: 100vh;
  word-wrap: break-word;
  font-family: "roboto";
  background-image: linear-gradient(140deg, #00f260, #0575e6);
  display: grid;
  color: #333;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::selection {
  background: rgb(96, 255, 121);
}
::-webkit-scrollbar {
  width: 4px;
  left: 0;
  border-radius: 5rem;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  background: rgba(72, 158, 228, 0.5);
  border-radius: 5rem;
}
.container {
  width: calc(100% - 2rem);
  max-width: 36rem;
  background: #f6f6f6;
  height: calc((var(--vh, 1vh) * 100) - 2rem);
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.innerContainer {
  height: 100%;
  width: calc(100% + 9rem);
  position: relative;
  display: grid;
  grid-template-columns: 10rem auto;
  grid-template-rows: 3.5rem auto;
  grid-template-areas:
    "s h"
    "s t";
  left: -9rem;
  transition: left 0.5s cubic-bezier(0.12, 0.1, 0.11, 1.03);
}
.welcomeScreen {
  position: absolute;
  height: 100%;
  width: calc(100% - 10rem);
  left: 10rem;
  background: rgb(96, 140, 255);
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  text-align: center;
  color: white;
  font-weight: 400;
}
.welcomeScreen h2 {
  font-size: 2rem;
  font-weight: 300;
  text-indent: 0.5em;
  letter-spacing: 0.5em;
}
.welcomeScreen p {
  opacity: 0.7;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.48em;
  text-indent: 0.5em;
}
.welcomeScreen.done {
  animation: welcomeScreen 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.87, 0.05, 0.23, 0.98);
  animation-fill-mode: forwards;
}
#loginForm {
  background: none;
  box-shadow: none;
  position: relative;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  border: 1px;
  transition: border;
}
#loginForm input {
  background: none;
  box-shadow: none;
  border-radius: 0;
  color: white;
  padding: 0.1rem;
  font-size: 1rem;
  letter-spacing: 0.1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
#loginForm input:focus {
  border-bottom: 2px solid white;
}
#loginForm input::placeholder {
  color: #ddd;
}
#loginForm input.wrongInput {
  border-bottom: 2px solid red;
}
#loginForm input.currect {
  border-bottom: 2px solid #00f260;
}
#loginForm input:-webkit-autofill,
#loginForm input:-webkit-autofill:hover,
#loginForm input:-webkit-autofill:focus {
  -webkit-text-fill-color: yellow;
  background-color: rgba(255, 255, 255, 0.26);
  transition: background-color 5000s ease-in-out 0s;
}
#loginForm .passDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.passDiv ion-icon {
  font-size: 1.3rem;
  position: absolute;
  right: 0;
}
#loginForm button[type="submit"]:hover {
  background: white;
  color: rgb(96, 140, 255);
}
#loginForm button[type="submit"] {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.005rem;
  padding: 0.5rem;
  background: rgb(96, 140, 255);
  color: white;
  border: 2px solid white;
}
@keyframes welcomeScreen {
  from {
    left: 10rem;
  }
  to {
    left: calc(-100% + 20rem);
  }
}
.sidebar {
  position: relative;
  width: 10rem;
  height: 100%;
  background: rgb(96, 140, 255);
  color: white;
  grid-area: s;
  padding: 1.5rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar::-webkit-scrollbar {
  width: 0;
}
.sidebar ion-icon {
  --ionicon-stroke-width: 36px;
  font-size: 1.3rem;
}
.sidebar_span {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: background 0.5s;
  z-index: 3;
}
.sidebar_span.active {
  pointer-events: all;
  background: rgba(0, 0, 0, 0.5);
}
.sidebar ul {
  display: grid;
}
.sidebar li {
  padding: 0.75rem 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  grid-auto-flow: column;
  cursor: pointer;
  border-radius: 0.25rem;
  letter-spacing: 0.15em;
  transition: transform 0.25s;
  position: relative;
  overflow: hidden;
}
.sidebar .fiscalYear li,
.sidebar .backup_options li {
  background: rgba(255, 255, 255, 0.1);
}
.sidebar .fiscalYear,
.sidebar .backup_options,
.sidebar .sections {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease-out;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar .sections.active {
  height: 315px;
}
.sidebar .fiscalYear.active {
  height: 135px;
}
.sidebar .backup_options.active {
  height: 90px;
  overflow: visible;
}
.sidebar li:hover {
  transform: scale(1.1);
}
.sidebar li:active {
  transform: scale(0.9);
}
input[type="file"] {
  height: 0;
  width: 0;
  display: none;
}
.upload::-webkit-file-upload-button {
  visibility: hidden;
  background: red;
}
.upload::before {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  cursor: pointer;
}
.sidebar li:hover {
  background: rgba(255, 255, 255, 0.25);
}
.sidebar li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.clear span {
  background: red;
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  transition: width 0.2s;
}
.clear span.active {
  transition: width 2s linear;
  width: 100%;
}
.about {
  cursor: pointer;
  margin-top: 2rem;
  word-break: normal;
  letter-spacing: 0.2em;
  line-height: 1.6em;
  text-align: center;
  font-size: 0.7rem;
  opacity: 0.85;
  color: rgba(255, 255, 255, 0.75);
}
.portrait {
  margin-top: 1rem;
  position: relative;
  width: calc(100% + 3rem);
  height: 0rem;
  left: -1.5rem;
  bottom: 0;
  background-image: url(./img/author-portrait.jpg);
  background-size: cover;
  transition: height 1s cubic-bezier(0.46, 0.06, 0.11, 1.01);
  background-position: 0 18%;
}
.about p span:hover {
  color: rgba(255, 255, 255, 0.5);
}
.portrait.active {
  height: var(--portrait-height);
}
.portrait:active {
  background-image: url(./img/author-portrait-2.jpg);
}
.portrait.forward {
  background-image: url(./img/author-portrait-2.jpg);
}
header {
  padding: 0 0.5rem;
  grid-area: h;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 2;
}
header::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  background-image: linear-gradient(140deg, #00f260, #0575e6);
}
h1,
a h3 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.5em;
  text-align: center;
  word-break: keep-all;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  line-height: 1.2rem;
}
header a {
  position: relative;
}
header a div {
  position: absolute;
  top: 0;
  transition: transform 0.25s ease-out;
  transform: translateX(-50%) translateY(-25%);
  display: grid;
}
header .disabled {
  opacity: 0;
  pointer-events: none;
}
a {
  text-decoration: inherit;
  color: inherit;
}
.btn_sidebar {
  position: absolute;
  height: 1.7rem;
  width: 1.7rem;
  left: 0.9rem;
  border: none;
  outline: none;
  display: grid;
  cursor: pointer;
}
.btn_sidebar .line {
  height: 1.7rem;
  width: 1rem;
  margin: auto;
  opacity: 0.8;
  transition: transform 0.4s;
  position: relative;
  pointer-events: none;
}
.btn_sidebar:hover .line {
  transform: scale(1.2);
}
.line .before {
  display: block;
  height: 0.85rem;
  width: 3px;
  background: #333;
  position: absolute;
  left: 0;
  transition: left, transform, top, 0.5s;
}
.line .after {
  display: block;
  height: 0.85rem;
  width: 3px;
  background: #333;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: right, transform, bottom, 0.5s;
}
.line.unsaved .after,
.line.unsaved .before {
  background: red;
}
.btn_sidebar.side_back .line .before {
  left: 85%;
  top: 0.15rem;
  transform: rotate(-45deg);
}
.btn_sidebar.side_back .line .after {
  bottom: 0.15rem;
  transform: rotate(45deg);
}
.btn_sidebar.back .line .before {
  top: 0.15rem;
  transform: rotate(45deg);
}
.btn_sidebar.back .line .after {
  bottom: 0.15rem;
  right: 85%;
  transform: rotate(-45deg);
}
.month_filter,
.year_filter {
  position: absolute;
  left: 3.5rem;
  appearance: none;
  padding: 0.25rem;
  border-radius: 0.35rem;
  border: 1px solid #00f260;
  outline: none;
}
.year_filter {
  display: none;
}
option {
  padding: 1rem 0;
}
.table_wrapper {
  height: 100%;
  width: 200%;
  display: flex;
  position: relative;
  transition: left 0.5s;
  left: 0;
}
.table_wrapper section {
  height: 100%;
  width: 50%;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5rem calc(100% - 2.5rem);
  max-height: 100%;
}
#production_detail {
  grid-template-rows: 2.5rem 2.5rem calc(100% - 2.5rem);
}
.table_wrapper section {
  display: none;
}
#employee,
#task {
  display: grid;
}
table {
  width: 100%;
}
.thead tr {
  font-weight: 500;
  border-bottom: 1px dotted #999;
  height: 2.4rem;
}
.table_wrapper section tr {
  display: grid;
  padding: 0rem 1rem;
  grid-template-columns: 0.5fr 0.3fr 0.45fr 0.5fr 0.5fr;
}
#workers tr {
  grid-template-columns: 0.7fr 0.4fr 0.5fr 0.5fr;
}
#workers_payments tr {
  grid-template-columns: 1fr 0.5fr;
  grid-template-areas: "dt py";
}
#workers_payments .thead {
  white-space: nowrap;
}
#employee tr {
  grid-template-areas: "nm lp pr py du";
}
#employee .name {
  grid-area: nm;
}
.lastPay {
  grid-area: lp;
}
#employee .product::after {
  content: attr(data-content);
  font-size: 0.65rem;
  letter-spacing: 0.1em;
  color: #888;
}
#tasks tr {
  justify-content: center;
  align-items: center;
  display: grid;
  padding: 0rem 1rem;
  grid-template-columns: 0.9fr 0.8fr 0.4fr 0.4fr 0.5fr 0.5fr;
  grid-template-areas: "dt dr qt gr tl py";
  grid-template-rows: repeat(auto, auto);
}
#production tr {
  grid-template-columns: 0.3fr 0.2fr 0.7fr 0.25fr 0.4fr;
  grid-template-areas: "dt rf dr qt tl";
}
#production_detail tr {
  grid-template-columns: 0.5fr 0.3fr 0.25fr 0.3fr;
  grid-template-areas: "dr qt co tl";
}
#cost tr {
  grid-template-columns: 0.06fr 0.3fr 0.3fr 0.2fr 0.2fr;
  grid-template-areas: "lt dl dt ls tl";
}
#cost_detail tr {
  grid-template-columns: 0.4fr 0.2fr 0.2fr 0.2fr;
  grid-template-areas: "dt qt co tl";
}
#tasks.lots tr {
  grid-template-columns: 0.7fr 0.8fr 0.45fr 0.4fr 0.5fr;
  grid-template-areas: "dt dr qt gr tl";
}
#payments tr {
  padding: 0 0.5rem;
  grid-template-columns: 0.2fr 0.3fr 0.2fr 0.35fr;
  grid-template-areas: "rf dt qt tl";
}
#summery tr {
  grid-template-columns: 0.06fr 0.188fr 0.188fr 0.188fr 0.188fr 0.188fr;
  grid-template-areas: "mn dt rf dr qt tl";
}
#summery thead tr {
  grid-template-columns: 0.1fr 0.18fr 0.18fr 0.18fr 0.188fr 0.18fr;
}
.decrease {
  background: linear-gradient(
    350deg,
    rgba(0, 240, 27, 0.1) 0%,
    rgba(182, 1, 1, 0) 100%
  );
}
.increase {
  background: linear-gradient(
    350deg,
    rgba(240, 0, 27, 0.15) 0%,
    rgba(182, 1, 1, 0) 100%
  );
}
#payments .right tr {
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-areas: "dt fr tl";
}
#tasks.lots .thead {
  background: radial-gradient(
    ellipse at top left,
    rgba(20, 255, 0, 0.1) 18%,
    rgba(255, 255, 255, 0) 100%
  );
  background-position: 5% 5%;
}
#tasks.lots thead tr td:last-child {
  display: none;
}
#production .thead td:nth-child(2),
#production .thead td:nth-child(3),
#payments .left .thead td:nth-child(2),
#payments .right .thead td:nth-child(2),
#cost td:nth-child(2),
#cost td:nth-child(3) {
  text-align: left !important;
}
#production .thead td:nth-child(4) {
  text-align: center;
}
.perUnit {
  grid-column: 2 /4;
  text-align: right;
}
.date {
  grid-area: dt;
  text-align: left !important;
}
.dressName {
  grid-area: dr;
  grid-row: auto;
  text-align: left !important;
}
.qnt {
  text-align: center;
  grid-area: qt;
  grid-row: auto;
}
.grp {
  grid-area: gr;
  grid-row: auto;
  text-align: center !important;
}
.total {
  grid-area: tl;
  grid-row: auto;
  text-align: right;
}
.cost {
  text-align: center;
  grid-template-areas: co;
  grid-row: auto;
}
.paid {
  grid-area: py;
  grid-row: auto;
}
.for {
  grid-area: fr;
  grid-row: auto;
  text-align: left !important;
}
#employee .thead thead td:nth-child(2)::after {
  content: attr(data-date);
  font-size: 0.8rem;
  position: absolute;
  opacity: 0.6;
  right: 0px;
  bottom: -3px;
}
#employee .thead thead td:nth-child(2) {
  transform: translateY(-6px);
  position: relative;
  content: attr(data-date);
  white-space: nowrap;
}
#payments {
  height: 100%;
  width: 50%;
  grid-template-columns: 0.55fr 0.45fr;
}
#payments .left {
  border-right: 1px solid gray;
}
.production,
.recieved {
  background: linear-gradient(
    153deg,
    rgba(0, 240, 27, 0.2) 0%,
    rgba(182, 1, 1, 0) 100%
  );
}
.due {
  background: linear-gradient(
    153deg,
    rgba(240, 1, 27, 0.2) 0%,
    rgba(182, 1, 1, 0) 100%
  );
}
td:not(:first-child) {
  text-align: right;
}
.banner {
  background: linear-gradient(
    350deg,
    rgba(0, 240, 27, 0.2) 0%,
    rgba(182, 1, 1, 0) 100%
  );
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-areas: "no dt";
}
.banner .ref {
  grid-area: no;
  position: relative;
  transform: translateX(26px);
}
.banner .date {
  text-align: right;
}
.deduction {
  text-align: right !important;
}
.banner .ref::before {
  content: "Nō";
  display: block;
  position: absolute;
  left: -26px;
  top: 3px;
  font-family: roboto;
  font-size: 1rem;
}
.tbody tr td {
  max-width: 100%;
  padding: 0.5rem 0;
}
.tbody {
  overflow-y: auto !important;
}
.tbody tr {
  min-height: 3.2rem;
  border-bottom: 1px solid #dfdfdf;
  cursor: default;
  position: relative;
  transition: transform, background, 0.2s;
  border-radius: 5px;
}
.tbody tr:hover {
  background: rgba(0, 0, 0, 0.05);
}
.tbody tr:active,
.tbody tr.active {
  transform: scale(0.95);
  background: rgba(0, 0, 0, 0.05);
}
td {
  display: grid;
  align-items: center;
}
.btn_row {
  grid-column: 1 / -1;
  height: 100%;
}
#btn_tr {
  padding: 0;
  height: 3rem;
  font-size: 1.4rem;
  position: relative;
}
tr button {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: none;
}
#btn_tr.active {
  background: rgba(0, 0, 0, 0.05);
  transform: scale(0.95);
}
.btn_row .label {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  pointer-events: none;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}
.btn_row .label p {
  font-style: italic;
  opacity: 0.7;
}
.abs,
.abs:focus {
  letter-spacing: 0.05em;
  background: rgb(186, 1, 27);
  background: linear-gradient(
    153deg,
    rgba(240, 1, 27, 0.2) 0%,
    rgba(182, 1, 1, 0) 100%
  ) !important;
}
.iron {
  letter-spacing: 0.05em;
  background: rgb(186, 1, 27);
  background: linear-gradient(
    153deg,
    rgba(240, 237, 1, 0.2) 0%,
    rgba(182, 1, 1, 0) 100%
  ) !important;
}
.forms {
  display: none;
  position: absolute;
  z-index: 5;
  width: 100vw;
  pointer-events: none;
  height: calc(var(--vh, 1vh) * 100);
  animation: fadeIn 0.5s;
}
.name {
  text-transform: capitalize;
}
#workers .name {
  position: relative;
  transform: translateY(-15%);
}
#workers .name::after {
  content: attr(data-content);
  display: block;
  position: absolute;
  text-transform: lowercase;
  bottom: 0;
  font-style: italic;
  color: #888;
  font-size: 0.8em;
}
.forms span {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  display: block;
  transition: background 0.5s;
}
.forms span.active {
  background: rgba(0, 0, 0, 0.5);
  pointer-events: all;
  z-index: 1;
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hidden {
  transform: translateY(80%) translateX(-50%);
  opacity: 0;
  pointer-events: none;
}
form {
  transition: opacity, transform, 0.5s;
  pointer-events: all;
  opacity: 1;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateY(50%) translateX(-50%);
  background-image: linear-gradient(140deg, #00f260, #0575e6);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 0.38fr 0.2fr;
  grid-row-gap: 1rem;
  grid-column-gap: 0.4rem;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 25rem;
  z-index: 10;
}
#form_task {
  grid-template-areas:
    "dt dt dt"
    "it it it"
    "py py py"
    "bt bt bt";
}
#form_task.lots {
  grid-template-areas:
    "dt dt dt"
    "it it it"
    "bt bt bt";
}
#form_employee {
  grid-template-areas: "nm nm bt";
}
#form_worker {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "nm nm" "dt sl" "bt bt";
}
#form_worker_payment {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "d1 d2" "py py" "bt bt";
}
#form_bill {
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-areas: "dt dt rf im" "it it it it" "bt bt bt bt";
}
#form_cost {
  grid-template-columns: 0.25fr 0.46fr 0.29fr;
  grid-template-areas: "ln dt im" "dr dr ls" "it it it" "dl dl dl" "bt bt bt";
}
form .dress {
  grid-area: dr;
}
input[name="delivery"] {
  grid-area: dl;
}
#form_payment {
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas: "dt dt" "py py" "bt bt";
}
#form_bill .ref {
  text-align: center !important;
}
.ref {
  grid-area: rf;
  grid-row: auto;
  font-family: stamp;
  font-size: 1.5rem;
  text-align: left !important;
}
form input[type="date"].start {
  grid-area: d1;
}
form input[type="date"].end {
  grid-area: d2;
}
form input[name="employee"],
form input[name="worker"] {
  grid-area: nm;
}
form input {
  height: 2.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.05rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.1);
  background: #fbfbfb;
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
form input[name="date"] {
  grid-area: dt;
}
.itemsToAdd {
  grid-area: it;
  display: grid;
  grid-gap: 0.8rem;
}
.itemToAdd {
  grid-template-columns: 1fr 0.38fr 0.2fr;
  grid-column-gap: 0.4rem;
  grid-auto-flow: column;
  display: grid;
}
#form_bill .itemToAdd {
  grid-template-columns: 0.8fr 0.35fr 0.35fr 0.3fr;
}
#form_cost .itemToAdd {
  grid-template-columns: 0.5fr 0.25fr 0.25fr;
}
.itemToAdd.semi {
  opacity: 0.7;
}
form input:focus {
  box-shadow: inset 0 0 1px 2px #0575e6;
}
form input:disabled {
  opacity: 0.7;
}
form select[name="group"] {
  outline: none;
  border: none;
  font-size: 1.05rem;
  background: #fbfbfb;
  padding: 0 0.5rem;
  border-radius: 10rem;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  text-indent: 5px;
  cursor: pointer;
}
option {
  height: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
}
form input[name="recieved"] {
  grid-area: py;
  width: 100%;
}
.forms form button {
  display: grid;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10rem;
  cursor: pointer;
  background: white;
  font-size: 2.2rem;
  color: rgb(67, 144, 200);
  outline: none;
  height: 100%;
  width: 100%;
  grid-area: bt;
}
#form_task button {
  grid-area: bt;
  height: 2.4rem;
}
form button.uploadImg {
  grid-area: im;
  font-size: 1.3rem;
  position: relative;
  z-index: 10;
}
form button.uploadImg::before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
form button.uploading {
  background: orange;
}
form button.uploading::before {
  animation: uploading 1s ease-in-out infinite;
}
form button.uploaded {
  background: #05fe67;
}
form button.uploaded::before {
  transform: scale(0.92, 0.85);
  animation: uploaded 4s ease-in-out forwards;
}
form button.uploadFailed {
  background: red;
}
form button.uploadFailed::before {
  transform: scale(0.92, 0.85);
}
@keyframes uploaded {
  0% {
    transform: scale(0.92, 0.85);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes uploading {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.92, 0.85);
  }
  100% {
    transform: scale(1, 1);
  }
}
.forms form button:hover {
  background: #4bff92;
  color: white;
}
.forms ion-icon {
  --ionicon-stroke-width: 40px;
}
.netlify-identity-menu {
  list-style: none;
}
.netlify-identity-menu li:first-child {
  display: none;
}
.netlify-identity-menu li {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.7em;
  border-radius: 3rem;
  color: rgba(255, 255, 255, 0.7);
}
.modalContent > div:nth-child(3),
.modalContent .header,
.hr {
  display: none;
}
.popUp_wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.popUp_wrapper.active {
  pointer-events: all;
  z-index: 5;
}
.popUp {
  pointer-events: all;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
  border-radius: 5px;
  overflow: hidden;
  animation: popUp 0.3s;
  opacity: 1;
  transition: opacity 0.3s;
}
.hide {
  opacity: 0;
  animation: none;
}
@keyframes popUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.popUp li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.popUp li:hover {
  background: rgba(0, 0, 0, 0.5);
}
.downloadPopup,
.fiscalYearPopup {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  animation: fadeIn 0.5s;
  display: none;
}
.delete_prompt {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 5;
  pointer-events: all;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  animation: fadeIn 0.5s;
  display: none;
}
.delete_prompt.active,
.fiscalYearPopup.active {
  display: grid;
  pointer-events: all;
}
.delete_prompt div p {
  margin: 3rem 0;
}
.delete_prompt li {
  color: white;
  background: #0575e6;
  list-style: none;
  border-radius: 5px;
  padding: 0.7em 2em;
  margin: 1.5rem;
  text-align: center;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.05em;
  transition: transform 0.3s;
  cursor: pointer;
}
.delete_prompt li:first-child {
  background: rgb(245, 67, 67);
}
.delete_prompt li:hover {
  transform: scale(1.05);
}
.delete_prompt li:active {
  transform: scale(0.95);
}
.downloadPopup.active {
  display: grid;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: all;
}
.downloadPopup li {
  background: #00f260;
  list-style: none;
  border-radius: 5px;
  padding: 0.75em 1em;
  margin: 1rem;
  text-align: center;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2),
    inset 3px 6px 7px rgba(255, 255, 255, 0.3);
  letter-spacing: 0.05em;
  transition: transform 0.3s;
  cursor: pointer;
}
.downloadPopup li:hover {
  transform: scale(1.1);
}
.dashboard {
  padding: 3rem;
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(50px);
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  z-index: 10;
  transition: opacity, transform, 0.25s ease-out;
  transform: scale(0.9);
  opacity: 0;
  pointer-events: none;
  display: none;
}
.dashboard .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "tw tw tw" "ty ty ty" "ch ch ch";
  grid-gap: 1rem;
  margin: auto;
  max-width: 38rem;
}
.thisWeek,
.thisYear {
  grid-area: tw;
  text-align: center;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "h h h" "p v d";
  grid-gap: 0.7rem;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.thisYear {
  grid-template-areas: "h h h" "p d v";
}
.thisWeek .heading,
.thisYear .heading {
  grid-area: h;
}
.thisWeek .production,
.thisWeek .paid,
.thisWeek .lot,
.thisYear .production,
.thisYear .paid,
.thisYear .value {
  display: grid;
  grid-gap: 5rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #626262;
  position: relative;
}
.thisWeek .paid h3::after,
.thisYear .value h3::after,
.thisYear .paid h3::after {
  content: "৳";
  display: block;
  position: absolute;
  top: -0.5rem;
  text-indent: -1rem;
  font-size: 1rem;
  font-weight: 400;
}
.thisWeek > div > div,
.thisYear > div > div {
  display: grid;
  grid-gap: 0.5rem;
}
.thisWeek .production,
.thisYear .production {
  grid-area: p;
}
.thisWeek .paid,
.thisYear .paid {
  grid-area: d;
}
.thisWeek .lot,
.thisYear .value {
  grid-area: v;
}
.thisYear {
  grid-area: ty;
}
.dashboard h3 {
  color: #333;
  font-size: 2rem;
  font-weight: 800;
}
.dashboard .last_year {
  font-size: 1.25rem;
}
.dashboard .production_detail {
  font-size: 0.85rem;
}
.dashboard .product_count {
  font-weight: 700;
  color: rgb(51, 153, 86);
}

.dashboard.active {
  display: block;
}
.cls_dashboard {
  background: #00f260;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15);
  position: absolute;
  font-size: 2.5rem;
  height: 2.6rem;
  width: 2.6rem;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.cls_dashboard:hover {
  background: #0575e6;
}
.chart {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-area: ch;
}
#chart {
  height: 300px;
  width: 700px;
}
